{% extends 'Estira/base.html' %}
{% load static %}
{% block content %}
<section class="about" id="about">
        <div class="main">
            <img src="{% static 'image/me.jpg' %}">
            <div class="about-text">
                <h2>About Me</h2>
                <h5>IT STUDENT</h5>
                <p>Hi i am Denniel M. Estira 19 years old, I am currently a third year student at Cvsu_Bacoor.
                    I am now practicing to code using html and css.
                    I hope this activity will amaze you.
                </p>
                <h1>MY CONTACTS</h1>
                <h3>GLOBE - 09216245916</h3>
                <a href="https://www.facebook.com/profile.php?id=100009966038996"><i class='bx bxl-facebook'></i></a>
                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2F_nielstr%3Figshid%3DOGQ5ZDc2ODk2ZA%253D%253D%26utm_source%3Dqr%26fbclid%3DIwAR2ahShAhCi6Lr_2NxIp60ZHTwkR9hIgO6ahrf17BzBJWh-U5qTwOoPOhZw&h=AT1Tu9r6pEIOpVoZ7YEu3_GK1QNU8t23VhqmPNiPO_oBNUrT2UlMCPlabIrtqLLCQXGTgJkVfwtqgRBV-gGnND9djZm5hJqg0J01pyKqwNCZuy-KgJ8UwdzQlRt8GF7Y4oVuag"><i class='bx bxl-instagram'></i></a>
                <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.tiktok.com%2F%40lf_kazaima%3F_t%3D8i3dXGULG7e%26_r%3D1%26fbclid%3DIwAR1GlV-PII92BSkoqq1raiJtZK3X5IL-OWVV1TWNa2jtXmUQMsWEHRXvRR8&h=AT1Tu9r6pEIOpVoZ7YEu3_GK1QNU8t23VhqmPNiPO_oBNUrT2UlMCPlabIrtqLLCQXGTgJkVfwtqgRBV-gGnND9djZm5hJqg0J01pyKqwNCZuy-KgJ8UwdzQlRt8GF7Y4oVuag"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
    </section>
{% endblock content %}