{% extends 'Estira/base.html' %}

{% block content %}
<section>
        <div class="skillset">
            <div class="main-skillset" id="skillset">
            <h1>MY SKILL</h1>

            <li><h3>HTML</h3>
                <span class="bar"><span class="html"></span></span>
            </li>

            <li><h3>CSS</h3>
                <span class="bar"><span class="css"></span></span>
            </li>


            <li><h3>SQL</h3>
                <span class="bar"><span class="sql"></span></span>
            </li>

            <li><h3>JAVASCRIPT</h3>
                <span class="bar"><span class="javascript"></span></span>
            </li>
            </div>
        </div>
    </section>

    <section>
        <div class="pastproject" id="pastproject">
            <h1>MY PAST PROJECT</h1>
            <img src="./photos/photo2.jpg">
        </div>
    </section>
{% endblock content %}